a {
  text-decoration: none;
  color: #0091d9; }
  a:hover, a :active {
    color: #ff6163; }

.arrow {
  font-size: 30px; }

.simple-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  overflow: hidden;
  margin: 0 10px; }

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #444;
  font-size: 30px;
  will-change: right;
  -webkit-transition: right .3s;
  -o-transition: right .3s;
  transition: right .3s;
  padding: 0; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffefd5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 1px solid #444; }
